body {
    height: 100vh;
    margin: 0;
    justify-items: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
div {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center; 
}
/* Hier könnt ihr einmal testen was die unterschiedlichen Sachen wie zum Beispiel color, background-color, font-size, font-weight, font-family usw machen */
h1 {

}
h2 {

}
h3 {
}
h4 {
}
h5 {
}
h6 {

}


.header-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    gap: 25px;
}