body {
    height: 100vh;
    margin: 0;
    justify-items: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
div {
    padding: 20px;
    margin: 20px;
    background-color: #f0f0f0;
    border: 2px solid #8b8888;
    border-radius: 8px;
    text-align: center; 
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
button {
    border-radius: 15px;
}

.header-container, .list-container, .color-container, .font-container, .interactive-container, .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    gap: 25px;
    overflow: hidden;
    margin: 0;
}
.Ordered, .Unordered {
    border: none;
}
.noborder{
    border: none;
}
.nomargin{
    margin: 0;
}
.nopadding {
    padding: 0;
}
.color-bg-show-red, .color-bg-show-blue, .color-bg-show-green, .button-show-Hover, .button-show-Click{
    min-height: 95%;
    min-width: 25%;
    margin: 0;
}
.color-bg-show-blue{
    background-color: blue;
}
.color-bg-show-green{
    background-color: green;
}
.color-bg-show-red{
    background-color: red;
}
.font1, .font2, .font3 {
    margin: 0;
    padding: 0;
    border: none;
    font-size: large;
}
.font1{
    font-family: Arial, Helvetica, sans-serif;
}
.font2{
    font-family: 'Times New Roman', Times, serif;
}
.font3{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button-show-Hover:hover {
    transition: 0.2s;
    transform: scale(1.1);
    background-color: red;
    color: wheat;
}